* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.maincalculator {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  margin: 2rem auto;
  width: 80%;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.zero {
  width: 50%;
}

.symbole {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.zero {
    width: 50%;
}
